﻿@using WebAPI.Enums
@model Ingrediente
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit Ingredient</h1>

<form method="post" asp-controller="StockMVC" asp-action="Edit">
    <div class="border m-2 p-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit Ingredient</h2>
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control" readonly />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Price" class="form-label"></label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Stock" class="form-label"></label>
            <input asp-for="Stock" class="form-control" />
            <span asp-validation-for="Stock" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Image" class="form-label"></label>
            <input asp-for="Image" class="form-control" />
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
        <div class="mb-3">
            @Html.DropDownListFor(m => m.TypeComida,
            new SelectList(Enum.GetValues(typeof(EnumTypeComida))),
            "Select Ingredient Type")
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
        <a asp-controller="StockMVC" asp-action="Index" class="btn btn-secondary">Back</a>
    </div>
</form>
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

