@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo à Hamburguer Fresquinho!</h1>
    <p>Sinta-se bem-vindo ao lugar onde cuidamos para que seu prazer em cada hambúrguer seja excepcional.</p>
</div>
